<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AMC Test Automation Suite">

<listeners>
<listener class-name="com.amc.qa.TestListeners.ExtentReportListener"/>
</listeners>
  <test name="AMC Application Automation TestCases">
 
      <classes>  
      
        <class name="com.amc.qa.testcases.AMCLogInTestCases"/>
        <class name="com.amc.qa.testcases.TPVolumesTestCases"/>
        <class name="com.amc.qa.testcases.WarHouseVolumePageTestCases"/> 
        <class name="com.amc.qa.testcases.WarHouseOrderManagementPageTestCases"/> 
        <class name="com.amc.qa.testcases.DocumentRepositoryPageTestCases"/> 
        
      </classes>
      
  </test> <!-- Test --> 
   
</suite> <!-- Suite -->



